<div class="container ml-3">
    <h3>利用者管理</h3>
    <div class="d-flex flex-column">
        <label class="sidebar-category-label">
            <%= link_to "利用者一覧", dashboard_users_path %>
        </label>
    </div>
    <h3>予約一覧</h3>

</div>
