<div class="col-12 text-center title">
    <h1><%= @user.full_name %>さんの予約一覧</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">日付</th>
            <th scope="col">時間</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <body>
        <% @reservations.each do |reservation| %>
            <tr>
                <td><%= reservation.day %></td>
                <td><%= reservation.time %></td>
                <td>
                    <%= link_to "削除", dashboard_reservation_path(reservation), method: :delete %>
                </td>
            </tr>
        <% end %>
    </body>
</table>
